*{
    background-color: black;
    color: rgb(111, 197, 255);
}

.home{
    font-size: 2rem;
    text-align: center;
    font-family: 'Whisper', cursive;
}

a{
    text-decoration: none;
}

a {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 1),
        rgba(100, 200, 200, 1)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }

a:hover {
  background-size: 0 3px, 100% 3px;
}

h2,h3,h4,h5,h6{
    color:blue;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 6rem;
}

h2{
    font-family: 'Cedarville Cursive', cursive;
    text-align: center;
    font-size: 5rem;
}

h3{
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    font-size: 4rem;
}

h4{
    font-family: 'Tilt Prism', cursive;
    text-align: center;
    font-size: 3rem;
}

h5{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 2rem;
}

h6{
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 1rem;
}

footer{
    text-align: center;
}